  @font-face {
    font-family: 'Apple II Screen Typeface Regular';
    font-style: normal;
    font-weight: normal;
    src: local('Apple II Screen Typeface Regular'), url('AppleIiScreenTypeface-2aP3.woff') format('woff');
  }

  :root {
    --black: #282828;
    --soft-black: #1d2021;
    --red: #cc241d;
    --soft-red: #fb4934;
    --blue: #458588;
    --soft-blue: #83a598;
    --green: #98971a;
    --soft-green: #b8bb26;
    --orange: #d65d0e;
    --aqua: #689d6a;
    --soft-aqua: #8ec07c;
    --purple: #b16286;
    --soft-purple: #d3869b;
    --gray: #a89984;
    --yellow: #d79921;
  }

  #red {color: var(--red);}
  #gray {color: var(--gray);}
  #blue {color: var(--blue);}
  #yellow {color: var(--yellow);}
  #soft-blue {color: var(--soft-blue);}
  #green {color: var(--green);}
  #soft-green {color: var(--soft-green);}
  #aqua {color: var(--aqua);}
  #soft-aqua {color: var(--soft-aqua);}
  #purple {color: var(--purple);}
  #soft-purple {color: var(--soft-purple);}
  #soft-red {color: var(--soft-red);}
  
  h1 {
    font-family: 'Apple II Screen Typeface Regular'; 
    color: var(--aqua);
  }

  .banner{
    margin-left: 25px;
  }

  a {
    font-family: 'Apple II Screen Typeface Regular';
    color: var(--aqua);
  }
  
  head {
    background-color:  var(--soft-black);
  }

  body {
    background-color:  var(--soft-black);
  }

  p {
    color: var(--aqua);
    font-family: 'Apple II Screen Typeface Regular';
    padding: 15px, 20px;
  }

  .big {
    line-height: 1.35;
  }

  div {
    font-family: 'Apple II Screen Typeface Regular'; 
    color: var(--aqua);
  }

  .cursor {
    animation: blink 1s infinite step-end;
   }
   
  @keyframes blink {
     from, to { opacity: 0; }
     50% {opacity: 1;}
  }

  .navbar {
    background-color: var(--soft-black);
    overflow: hidden;
  }

  .nav_button {
    width: auto;
    height: auto;
    line-height: 1em;
    display: inline-block;
    text-decoration: none; 
    margin: 0px 20px;
    padding-bottom: 2px;
  }

  .nav_button:hover {
    color: var(--black);
    background-color: var(--green);
  }
  
  .news {
    background-color: var(--soft-black);
    width: 250px;
    height: 520px;
    overflow: scroll;
    float: right;
    margin-left: 18px;
    margin-right: 15px;
    line-height: 1.2;
  }

  #box {
    background-color: var(--black);
    border: dashed;
  } 

  #cite {
    background-color: var(--black);
    border: dashed;
  } 

  #status {
    background-color: var(--black);
    border: dashed;
    width: 750px;
  } 

  div.content{
    position: relative;
  }

  div.content h2{
    margin: 10px;
    padding: 0;
    bottom: 0;
  }

  hr.dashed {
    border: none;
    border-top: 3px dashed var(--orange);
    margin-top: 20px;
    margin-bottom: 20px;
  }

  div.content p{
    margin: 10px;
    padding: 10px;
    bottom: 0;
  }

  footer {
    position: fixed;
    left: 0;
    bottom: 0;
    width: 100%;
    background-color: var(--soft-black);
    text-align: center;
  }

  .footelem {
    margin-left: 20px;
    margin-right: 20px;
    color: var(--soft-blue);
  }

  .footelem:hover {
    color: var(--black);
    background-color: var(--soft-blue);
  }

  .copyright {
    margin-top: 10px;
  }